<div class="modal fade" id="edit-modal-{{movie.id}}">
    <div class="modal-dialog">
       <div class="modal-content">
           <div class="modal-header">
               <h5 class="modal-title" id="editModal">{{movie.name}}</h5>
               <button type="button" class="close" data-dismiss="modal">
                   <span>&times;</span>
               </button>
           </div>
           <div class="modal-body">
               <form action="{% url 'edit' movie_id=movie.id %}" method="post">
                   {% csrf_token %}
                   <div class="form-group">
                       <label for="editName">Name</label>
                       <input type="text" id="editName" class="form-control" placeholder="Enter Name" name="name" value="{{movie.name}}"
                              required>
                   </div>
                   <div class="form-group">
                       <label for="editURL">Image URL</label>
                       <input type="text" id="editURL" class="form-control" placeholder="Image Url" name="picture" value="{{movie.picture}}"
                              required>
                   </div>
                   <div class="form-group">
                       <label for="editRating">Rating</label>
                       <input type="number" id="editRating" class="form-control" placeholder="1-10" name="rating" value="{{movie.rating}}"
                              min="1" max="10" required>
                   </div>
                   <div class="form-group">
                       <label for="editNotes">Notes</label>
                       <textarea name="notes" id="editNotes" class="form-control" placeholder="Add Notes"></textarea>
                   </div>
                   <button type="submit" class="btn btn-primary">Update Movie</button>
               </form>
           </div>
       </div>
    </div>
</div>